---
layout: default
---

<article class="post detailed">
    <h1>{{ page.title }}</h1>

    <!--  <div>-->
    <!--    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>-->
    <!--    {% if page.last_modified_at %}-->
    <!--    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>-->
    <!--    {% endif %}-->
    <!--    <div class="post-tags">-->
    <!--      {% if post %}-->
    <!--        {% assign categories = post.categories %}-->
    <!--      {% else %}-->
    <!--        {% assign categories = page.categories %}-->
    <!--      {% endif %}-->
    <!--      {% for category in categories %}-->
    <!--        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>-->
    <!--        {% unless forloop.last %}&nbsp;{% endunless %}-->
    <!--      {% endfor %}-->
    <!--    </div>-->
    <!--  </div>-->

    <div class="entry">
        {% for person in page.people %}
        <div class="person {% cycle 'left', 'right' %}">
            <div class="avatar">
                <img src="{{ site.baseurl }}{{ person.image }}"
                     alt="{{ person.name }}"/>
                <p>{{ person.position }}</p>
            </div>
            <div class="content">
                <h3>
                    {{person.name}}
                    {% if person.email %}<a href="mailto:{{ person.email }}"><i class="svg-icon email"></i></a>{% endif %}
                    {% if person.linkedin %}<a href="https://www.linkedin.com/in/{{ person.linkedin }}" target="_blank"><i class="svg-icon linkedin"></i></a>{% endif %}
                    {% if person.twitter %}<a href="https://www.twitter.com/{{ person.twitter }}" target="_blank"><i class="svg-icon twitter"></i></a>{% endif %}
                </h3>
                <p>{{person.description}}</p>
            </div>
        </div>
        {% endfor %}
        </hr>
    </div>

    <div>
        <p><span class="share-box">Share:</span> <a
                href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}"
                target="_blank">Twitter</a>, <a
                href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}"
                target="_blank">Facebook</a></p>
    </div>

    <!--<div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>-->

    {% include disqus.html %}
</article>
